inbox-james-deleted-messages-criteria-item {
  .criterion-value {
    height: 30px;
    font-size: 13px !important; // to override core message css
    transition: none;
  }
}

@media (max-width: @screen-md-min) {
  inbox-james-deleted-messages-criteria-item {
    ng-form > .col-xs-12 {
      padding: 0;
    }
  }
}