.modal.full-screen.no-padding-xs.inbox-james-deleted-messages-restore-dialog
  .modal-dialog
    .modal-content
      form(name="form", esn-submit="$ctrl.onRecoverBtnClick(); $hide()")
        .modal-header
          h4.modal-title #{__('Recover deleted messages')}
        .modal-body
          inbox-james-deleted-messages-criteria(criteria="$ctrl.criteria")
        .modal-footer
          button.btn.btn-link(type="button", ng-click="$ctrl.onCancelBtnClick(); $hide()") #{__('Cancel')}
          button.btn.btn-primary(
            type="submit"
          ) #{__('Recover')}