.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title #{__('Recover deleted messages')}
      .modal-body
        span Recover deleted messages form body
      .modal-footer
        button.btn.btn-link(type="button", ng-click="$hide()") #{__('Cancel')}
        button.btn.btn-primary(type="button", ng-click="$ctrl.onRecoverBtnClick(); $hide()") #{__('Recover')}